<!DOCTYPE html>
<html>
<head>
    <title>Add Pet</title>
</head>
<body>

    <h1>Add New Pet</h1>

    <form action="/pets/addPet" method="POST">

        <div>
            <label>Name:</label>
            <input type="text" name="name" required>
        </div>
<br>
        <div>
            <label>Breed:</label>
            <input type="text" name="breed" required>
        </div>
<br>

        <div>
            <label>Age:</label>
            <input type="number" name="age" required>
        </div>
        <br>
        Dog size:
        <select name="size" required>
  <option value=""></option>
  <option value="Small 🟢">Small 🟢</option>
  <option value="Medium 🟠">Medium 🟠</option>
  <option value="Large 🔴">Large 🔴</option>
</select>
<br>
<br>

<label>Description:</label><br>
<textarea name="description" rows="4" cols="40"></textarea>
<br>
<h3>Other Information</h3>

<label>
  <input type="checkbox" name="vaccinated">
  Vaccinated
</label><br>

<label>
  <input type="checkbox" name="neutered">
  Neutered
</label><br>

<label>
  <input type="checkbox" name="houseTrained">
  House Trained
</label><br><br>
<br>

        <button type="submit">Add Pet</button>

    </form>

    <br>

    <a href="/pets/myListings">Back to My Listings</a>

</body>
</html>