<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Shelter</title>
</head>
<body>
    <h1>HOME: SHELTER</h1>
    <a href="/pets/myListings">My Pet Listings 🐶</a>
</body>
</html>